<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <File name="Error" filename="log/error.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="SQL" filename="log/sql.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Pattern>
            </PatternLayout>
        </File>
<!--        <Console name="STDOUT">-->
<!--        </Console>-->
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
            <AppenderRef ref="SQL"/>
        </Logger>
        <Logger name="org.hibernate.sql" level="debug" additivity="false">
            <AppenderRef ref="SQL"/>
        </Logger>
<!--        <Logger name="org.springframework.transaction" level="trace">-->
<!--            <AppenderRef ref="STDOUT"/>-->
<!--        </Logger>-->
        <!-- Root Logger -->
        <Root level="error">
            <AppenderRef ref="Error"/>
        </Root>
    </Loggers>

</Configuration>
